apiKey=eea47a047a9b45fcb15bcf5799b9d044520f18acd5684d9da8ed144430bc1aaa
userKey=07873500e21942558267bc697bf7af4b075832d9d1254dda9e175b3e79e1f9a1
requesterEmail=halil.karimis@lexisnexisrisk.com

#  projectName=
#  projectVersion=
#  projectToken=
#  #projectTag= key:value

productName=ECO.QA
#  productVersion=
#  productToken=

wss.url=https://app-eu.whitesourcesoftware.com/agent
